doctype html
html
head
 title= title
 meta(name='viewport', content='width=device-width, initial-scale=1.0')
 link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
body
.container
 include user
 p.lead User Account
 a(href="/") Go home
 br
 a(href="/ping") Ping
 br
 br
 form(action="...", method="post", enctype="multipart/form-data")
 input(type="file", name="displayImage")
 a(href="/uploadVideo") Upload Video
 br
 br
 a(href="/logout") Logout



script(src='http://code.jquery.com/jquery.js')
script(src='js/bootstrap.min.js')