doctype html
html(lang='en')
  //
    =======================================================================================
      PERFECT PITCH hosted by BRUIN ENTREPRENEURS
    =======================================================================================
  head

    // Basic Page Needs
    meta(charset='utf-8')
    title Perfect Pitch 2014
    meta(name='description', content="300 pitches. 15 finalists. $3,000+ prizes. UCLA's biggest pitch competition.")
    meta(name='author', content='Bruin Entrepreneurs')
    
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    
    // FB Meta Tags
    <meta property="og:image" content="https://raw.githubusercontent.com/foolywk/perfect-pitch/master/public/images/PerfectPitchFBCover.jpg"/>
    <meta property="og:title" content="Perfect Pitch 2014 | UCLA's Biggest Pitch Competition"/>    

    // CSS
    link(rel='stylesheet', href='css/reset.css', media='all')
    link(rel='stylesheet', href='css/ut-fontface.css', media='all')
    link(rel='stylesheet', href='css/font-awesome.css', media='all')
    link(rel='stylesheet', href='css/flexslider.css', media='all')
    link(rel='stylesheet', href='css/magnific-popup.css', media='all')
    link(rel='stylesheet', href='css/ut-responsive-grid.css', media='all')
    link(rel='stylesheet', href='css/color.css', media='all')
    link(rel='stylesheet', href='css/style.css', media='all')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')      
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' type='text/css')  
    
    // Favicons
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    
    // Load jQuery
    script(src='js/jquery.min.js')
    script(src='js/modernizr.js')
    script(src='js/device.min.js')

    // Google Analytics
    script(src='js/analytics.js')

  body#mainsite
    a#top
    // Page Layout

    // header section 
    header#header-section.ha-header.ha-header
      .grid-container
        .ha-header-perspective
          .ha-header-front
            .grid-20.tablet-grid-20.hide-on-mobile
              h1.logo
                a(href='#/')
                  img(src='images/logoWhite.png', alt='logo')  

            nav#ut-navigation.grid-80.tablet-grid-80.hide-on-mobile

              a(href='#top') Home
              a(href='#about-section') About
              a(href='#pledge-section') Pledge Program
              a(href='#summit-section') Summit
              a(href='#partners-section') Partners
              a(href='#cta-section') Contact
              // include loginButton

        // close .ha-header-perspective 
      // close grid container 
    // close header 
    .clear
    
    // hero section 
    section.hero.ha-waypoint.parallax-section.parallax-banner-1.parallax-background()
      .parallax-overlay.parallax-overlay-1
      .grid-container
        
        // hero holder 
        .hero-holder.grid-70.mobile-grid-100.tablet-grid-100
          .hero-inner
            span.hero-description May 22, 2014
            span.hero-description 300 Pitches - 15 Finalists - $3,000+ prizes
            img.hero-logo(src='images/logoWhite.png')
            span.hero-description powered by  
              a(href='http://lsvp.com') 
                img(src='images/lsvp.jpg' style='max-width:175px')
            br
            .grid-100.mobile-grid-100.tablet-grid-100
              iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FperfectpitchLA&width&layout=button_count&action=like&show_faces=true&share=true&height=21&appId=616700801754177', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 125px; height: 21px; float:center;', allowtransparency='true')
              iframe(allowtransparency='true', frameborder='0', scrolling='no', src='//platform.twitter.com/widgets/follow_button.html?screen_name=perfectpitchLA', style='width: 225px; height: 20px; float:center;')

              // nodemailer form   
              form(action='/signup', method='post', name='email registration', target='_blank', style='margin-top:20px')
                input.email(type='email', value='', name='EMAIL', placeholder='Enter Email Address...', required='required' style="margin: 0 auto; width:50%; border-color: rgba(255,255,255,0.75); border-width:3px")
                //
                   real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;')
                  input(type='text', name='b_95fffc4eb179e8cedecfbc026_469fdeb0f2', value='')
                .clear
                br
                input.hero-btn.button(type='submit', value='Register', name='subscribe' style='width:200px')
              br
              
              // RSVP button
                a(href="http://perfectpitchla.eventbrite.com" target="_new")
                  button.hero-btn(style="width:225px") RSVP ON EVENTBRITE                    

        // footer
        .hero-footer.grid-100.mobile-grid-100.tablet-grid-100           
            p 
              span(style="vertical-align: -50%; color: #AAAAAA") presented by
              a(href='http://bruinentrepreneurs.org')
                img(src='http://s3-us-west-1.amazonaws.com/lahacks/bruin_entrepreneurs.jpg', style='width:300px; max-width: 75%; margin-top:10px')


      // close hero-holder 
    // close hero section 
    .clear
    #main-content.wrap   
      // 
        ABOUT SECTION
        =======================================================================================

      section#about-section.about
        .grid-container

          // ABOUT header 
          .grid-100.mobile-grid-100.tablet-grid-100
            header.section-header
              h2.section-title About
              h2.section-subtitle The biggest pitch competition at UCLA
            
            // ABOUT description 
            .about-box.grid-80.prefix-10.tablet-grid-100.mobile-grid-100(style='color: #000000;')
              h3
              p
                | Perfect Pitch is a pitch competition to foster entrepreneurial talent, facilitate creative problem solving, and promote the sharing of ideas at UCLA. 
                br
                br
                | This year, UCLA undergraduates submitted over 350 ideas for a business, product, or service in the form of a 1-2 minute video pitches. 
                | We selected the top 5 pitches in each of the following categories - Technology, Non-Technology, and Social Entrepreneurship
                |  - and invited them to present their pitch before a panel of expert judges at the Perfect Pitch Summit to win $3,000 in cash prizes!
                br
                br
                | Thanks to everyone who helped make Perfect Pitch 2014 a massive success, and congratulations to grand prize winners Calvin Chan, Elliot Plant, and Nare Israelyan!
              br

          // Register button
            .grid-container.grid-100.mobile-grid-100.tablet-grid-100(style='padding-bottom: 20px')
              a.toTop(href='#top' style="color:#fff")
                button.sponsor-btn(style="color: #fff !important; border-width: 0px") Register to Pitch                   

          // FAQ link
          .grid-container.grid-100.mobile-grid-100.tablet-grid-100(style='padding-bottom: 20px')
            a.toTop(href='/faq' style="color:#fff")
              button.sponsor-btn(style="color: #fff !important; border-width: 0px") Rules &amp; FAQ

      section#pledge-section.about(style='background-color:#fff')

        header.section-header
          h2.section-title Pledge Program
          br
          // Pledge Program description 
        .grid-container
          .about-box.grid-80.prefix-10.tablet-grid-100.mobile-grid-100(style='color: #000000;')
            p
              | To foster community involvement in the entrepreneurship initiatives of Perfect Pitch, we have a Pledge Program in which student organizations can raise money by pledging a certain number of pitches.
              br
              br
              | Participating UCLA student orgs will receive a cash donation from Bruin Entrepreneurs based on the number of pitches submitted before May 18 on behalf of their organization.
            br

        // Pledge Program Link
        .grid-container.grid-100.mobile-grid-100.tablet-grid-100(style='padding-bottom: 20px')
          a.toTop(href='/pledgeprogram.pdf' style="color:#fff")
            button.sponsor-btn(style="color: #fff !important; border-width: 0px") Pledge Program Info   


      // 
        SUMMIT SECTION
        =======================================================================================
      section#summit-section.parallax-section.parallax-banner-3.parallax-background.parallax-section-3.ha-waypoint
        .parallax-overlay.parallax-overlay-3
        .grid-container.parallax-content(style="height:350px")
          //
             parallax header 
          .grid-70.prefix-15.mobile-grid-100.tablet-grid-100
            header.parallax-header
              h2.section-title(style="color:#fff") Perfect Pitch Summit
              h2.section-subtitle(style="color:#fff") Neuroscience Research Building, UCLA 
              h2.section-subtitle(style="color:#fff") 4:30-9:30pm | May 22, 2014 
              
              br
              a(href="https://www.google.com/maps/preview?q=neuroscience+research+building&oe=utf-8&client=firefox-a&channel=fflb&ie=UTF-8&ei=_GpPU76xEcmayASC8IKADA&ved=0CAgQ_AUoAQ" target="_new")
                img(src='/images/map-marker.png' style='height:60px; padding-top:25px;')
              br
              br
              br
              // RSVP button
              a(href="http://perfectpitchla.eventbrite.com" target="_new")
                button.hero-btn(style="width:225px") RSVP ON EVENTBRITE                       

       
      // 
        SPONSORS SECTION
        =======================================================================================            

      section#partners-section  
        .grid-container   

          // Partners header
          .grid.-100.mobile-grid-100.tablet-grid-100
            header.section-header
            h2.section-title(style="color:#000000") SPONSORS
            br

            // LIGHTSPEED VENTURE PARTNERS
            a(href='http://lsvp.com')
              .member-box.grid-100.mobile-grid-100.tablet-grid-100
                figure.member-photo(style='background-image: url(\'/images/lsvp.png\'); background-position:center')                 

            // DEMAND MEDIA
            a(href='http://demandmedia.com')
              .member-box.grid-33.mobile-grid-33.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/demandmedia.png\'); background-position:center')                 

            // WSGR            
            a(href='http://wsgr.com')
              .member-box.grid-33.mobile-grid-30.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/wsgr.jpg\'); background-position:center')                                                 
            
            // MSFT            
            a(href='http://microsoft.com')
              .member-box.grid-33.mobile-grid-33.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/msft.png\'); background-position:center')                   

            // MATCHCRAFT
            a(href='http://matchcraft.com')
              .member-box.grid-33.mobile-grid-33.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/matchcraft.png\'); background-position:center')                                 
            
            // J2            
            a(href='http://j2global.com')
              .member-box.grid-33.mobile-grid-30.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/j2.jpg\'); background-position:center')                                 

            // ENPLUG
            a(href='http://enplug.com')
              .member-box.grid-33.mobile-grid-25.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/enplug.png\'); background-position:center')  

            // UCLA VC          
            a(href='http://venturecapital.ucla.edu')
              .member-box.grid-20.mobile-grid-20.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/uclavc.png\'); background-position:center')  

            // BEYONDCURIOUS            
            a(href='http://beyondcurious.com')
              .member-box.grid-20.mobile-grid-20.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/bc.png\'); background-position:center')                                                 

            // FACTUAL
            a(href='http://factual.com')
              .member-box.grid-20.mobile-grid-20.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/factual.png\'); background-position:center')                                                                                

            // SCOPELY
            a(href='http://scopely.com')
              .member-box.grid-20.mobile-grid-20.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/scopely.jpg\'); background-position:center')                                                                                

            // STARTENGINE
            a(href='http://startengine.com')
              .member-box.grid-20.mobile-grid-20.tablet-grid-50
                figure.member-photo(style='background-image: url(\'/images/startengine.png\'); background-position:center')                           

          // Sponsorship Deck
          .grid-container.grid-100.mobile-grid-100.tablet-grid-100(style='padding-top: 30px')
            a(href='/sponsorship.pdf' style="color:#fff")
              button.sponsor-btn(style="color: #fff !important; border-width: 0px") Become a Sponsor  
          
          // Partners header
          .grid.-100.mobile-grid-100.tablet-grid-100
            header.section-header
            h2.section-title(style="color:#000000") PARTNERS
            br

            // TEC
            a(href='http://tecbruins.org')
              .member-box.grid-33.mobile-grid-33.tablet-grid-33
                figure.member-photo(style='background-image: url(\'/images/tec.png\'); background-position:right')   

            // TCA 
            a(href='http://techcoastangels.com')
              .member-box.grid-33.mobile-grid-33.tablet-grid-33
                figure.member-photo(style='background-image: url(\'/images/tca.jpg\'); background-position:center;')                                                          

            // SIGMA ETA PI
            a(href='http://ucla.sigmaetapi.com')
              .member-box.grid-20.mobile-grid-33.tablet-grid-33
                figure.member-photo(style='background-image: url(\'http://s3-us-west-1.amazonaws.com/lahacks/sep.png\'); background-position:center;')                                              

          
                    
    
    // 
      CONTACT SECTION
      =======================================================================================

    section#cta-section.cta-section.content-section
      .grid-container
        .grid-70.prefix-15.mobile-grid-100.tablet-grid-100
          header.section-header
          span.cta-btn.cl-effect-18
            a.cl-effect-18(href='mailto:contact@perfectpitch.org' style='font-family:"roboto condensed') Contact Us
          br
          a(href='http://facebook.com/perfectpitchLA' target='_new') Facebook
          span(href="font-size:40pt; color:#CF9C5B")   ∙  
          a(href='http://twitter.com/perfectpitchLA' target='_new') Twitter

    
    // Load Javascript
    script(src='js/jquery.mb.YTPlayer.js')
    script(src='js/jquery.parallax.min.js')
    script(src='js/jquery.scrollTo.min.js')
    script(src='js/waypoints.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/jquery.custom.js')
    // End Document
