doctype html
html(lang='en')
  //
    =======================================================================================
      PERFECT PITCH hosted by BRUIN ENTREPRENEURS
    =======================================================================================
  head

    // Basic Page Needs
    meta(charset='utf-8')
    title Perfect Pitch
    meta(name='description', content='Perfect Pitch')
    meta(name='author', content='Brandon Foo')
    
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    
    // CSS
    link(rel='stylesheet', href='css/reset.css', media='all')
    link(rel='stylesheet', href='css/ut-fontface.css', media='all')
    link(rel='stylesheet', href='css/font-awesome.css', media='all')
    link(rel='stylesheet', href='css/flexslider.css', media='all')
    link(rel='stylesheet', href='css/magnific-popup.css', media='all')
    link(rel='stylesheet', href='css/ut-responsive-grid.css', media='all')
    link(rel='stylesheet', href='css/color.css', media='all')
    link(rel='stylesheet', href='css/style.css', media='all')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')      
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' type='text/css')  
    
    // Favicons
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    
    // Load jQuery
    script(src='js/jquery.min.js')
    //script(src='js/modernizr.js')
    script(src='js/device.min.js')

  body#mainsite
    a#top
    // Page Layout

    // header section 
    header#header-section.ha-header.ha-header
      .grid-container
        .ha-header-perspective
          .ha-header-front
            .grid-20.tablet-grid-20.hide-on-mobile
              h1.logo
                a(href='#/')
                  img(src='images/logoWhite.png', alt='logo')

            nav#ut-navigation.grid-80.tablet-grid-80.hide-on-mobile

              a.selected(href='#top') Home
              a(href='#about-section') About
              // a(href='#rules-section') Rules
              a(href='#gallery-section') Gallery
              a(href='#contact-section') Contact
              include loginButton

        // close .ha-header-perspective 
      // close grid container 
    // close header 
    .clear
    
    // hero section 
    section.hero.ha-waypoint.parallax-section.parallax-banner-1.parallax-background()
      .parallax-overlay.parallax-overlay-1
      .grid-container
        
        // hero holder 
        .hero-holder.grid-70.mobile-grid-100.tablet-grid-100
          .hero-inner
            span.hero-description 500 Pitches - 15 Finalists - $3,000+ prizes
            img.hero-logo(src='images/logoWhite.png')
            span.hero-description May 2014 - Ucla
            br
            .grid-100.mobile-grid-100.tablet-grid-100
              iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FperfectpitchLA&width&layout=button_count&action=like&show_faces=true&share=true&height=21&appId=616700801754177', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 125px; height: 21px; float:center;', allowtransparency='true')
              iframe(allowtransparency='true', frameborder='0', scrolling='no', src='//platform.twitter.com/widgets/follow_button.html?screen_name=perfectpitchLA', style='width: 225px; height: 20px; float:center;')
            br
            span.btn-holder
              include submitButton

        .hero-footer.grid-100.mobile-grid-100.tablet-grid-100           
            p 
              span(style="vertical-align: -50%; color: #AAAAAA") presented by
              a(href='http://bruinentrepreneurs.org')
                img(src='http://s3-us-west-1.amazonaws.com/lahacks/bruin_entrepreneurs.jpg', style='max-width: 300px; margin-top:10px')


      // close hero-holder 
    // close hero section 
    .clear
    #main-content.wrap   
      // 
        ABOUT SECTION
        =======================================================================================

      section#about-section.about
        .grid-container

          // ABOUT header 
          .grid-85.prefix-10.mobile-grid-100.tablet-grid-100
            header.section-header
              h2.section-title About
              h2.section-subtitle The biggest pitch competition at UCLA
            
            // ABOUT description 
            .about-box(style='color: #000000;')
              h3
              p
                span(style='font-weight: bold;') Perfect Pitch 
                | is a pitch competition to foster entrepreneurial talent, facilitate creative problem solving, and promote the sharing of ideas at UCLA. 
                br
                br
                | UCLA students can 
                span(style='font-weight: bold;') submit a video pitching their business idea 
                | in one of three categories: 
                span(style='font-weight: bold;') Technology, Non-Technology, and Social Entrepreneurship. 
                br 
                | 5 finalists from each category will then be selected to present their pitch at the final summit event on May 29th to win $3,000 in prizes. 
                br
                br  
                span(style='font-weight: bold;') Submission Deadline: 
                | May 22, 2014. 
              br

            header.section-header(style='padding: 0px;')
              h2.section-title 
              h2.section-subtitle Rules for video submission
            
            // RULES description 
            .about-box(style='color: #000000;')
              h3
              p 
                ol
                  li Pitch must be no more than 60 seconds Must not use inappropriate language (including but not limited to racist, sexist, sexual, violent, discriminatory and/or cursing language).
                  li Must not have received prior funding for idea.
                  li Every speaker is allowed to submit a maximum of 3 submissions.
                  li Candidates may collaborate in teams; however, only one person can present and only the presenter’s or company's name alone will be recognized.
                  li No props or visual aids of any kind are allowed during presentation.
                  li If the idea crosses over multiple categories, candidates are allowed to submit the same pitch to a maximum of two category; note that each pitch may only be selected once for the final round.
                  li Presenter must be a UCLA student available to attend both the pitch workshop and the finale event.
              br                


      // 
        GALLERY
        =======================================================================================            

      section#gallery-section  
        .grid-container    
          
          // GALLERY header
          .grid.-85.prefix-5.mobile-grid-100.tablet-grid-100
            header.section-header
            h2.section-title(style="color:#000000") Gallery
            br        
            
          each video, i in videos
            .grid-33.mobile-grid-100.tablet-grid-100(style="padding: 15px 0px 30px 0px")
              h2.section-subtitle.video-title=video.title
              br
              body=video.owner
              embed(style="height:250" width='350', src='http://www.youtube.com/v/' + video.id + '?controls=0', type='application/x-shockwave-flash' , frameborder='0',)                     
              br
              body(style="color:#000000") Category:     
                body(style="color:#999")=video.category
              br 
              body(style="color:#000000") Description: 
                body(style="color:#999")=video.description

    // 
      CATEGORIES PARALLAX BANNER 
      =======================================================================================

      section#parallax-section-2.parallax-section.parallax-banner-2.parallax-background.parallax-section-2.ha-waypoint
        .parallax-overlay.parallax-overlay-2
        .grid-container.parallax-content
          //
             parallax header 
          .grid-40.prefix-60.mobile-grid-100.tablet-grid-100
            header.parallax-header
              h2.section-title(style='color:#ffffff') 

          .grid-33.mobile-grid-100.tablet-grid-25(style='color:#ffffff')
            .counter-box.counter
              h3.section-title Technology
              body Hardware, software, web, and mobile applications
          .grid-33.mobile-grid-100.tablet-grid-25
            .counter-box.counter
              h3.section-title Non-Technology
              body Consumer Products and Services        
          .grid-33.mobile-grid-100.tablet-grid-25
            .counter-box.counter
              h3.section-title Social Entrepreneurship
              body Solutions to social, cultural, or environmental issues

  
    
    // Load Javascript
    script(src='js/jquery.mb.YTPlayer.js')
    script(src='js/jquery.parallax.min.js')
    script(src='js/jquery.scrollTo.min.js')
    script(src='js/waypoints.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/jquery.custom.js')
    // End Document
