.user
if(user)
  h2=user.name
  form( action="/upload", method="POST", enctype="multipart/form-data")
   input(type="file", name="file")
   br
   input(type="submit", value="Upload")
   br
   a(href="/logout") LOGOUT	
else 
  span.login-header Login to submit a pitch or view your submitted pitches. 
  br
  br  		
  a.hero-btn(href='/auth/facebook') Login With Facebook

