
.user

if(user)
  // 
    Hero SECTION
    =======================================================================================
  section.account.ha-waypoint.parallax-section.parallax-banner-1.parallax-background(style="overflow:scroll")
    .parallax-overlay.parallax-overlay-1
    .grid-container
      
      // hero holder 
      .hero-holder.grid-70.mobile-grid-100.tablet-grid-100

        .hero-inner
            h1.account-title=user.name
          .hero-title-holder
            span.hero-description User Account

  // 
    RULES SECTION
    =======================================================================================

  section#rules-section.rules
    a.toTop(href='#top')
      i.icon-angle-up
    .grid-container

      // RULES header 
      .grid-85.prefix-5.mobile-grid-100.tablet-grid-100
        header.section-header(style='padding: 0px;')
          h2.section-title 
          h2.section-subtitle Rules for video submission
        
        // RULES description 
        .about-box(style='color: #000000;')
          h3
          p 
            ol
              li Pitch must be no more than 60 seconds Must not use inappropriate language (including but not limited to racist, sexist, sexual, violent, discriminatory and/or cursing language).
              li Must not have received prior funding for idea.
              li Every speaker is allowed to submit a maximum of 3 submissions.
              li Candidates may collaborate in teams; however, only one person can present and only the presenter’s or company's name alone will be recognized.
              li No props or visual aids of any kind are allowed during presentation.
              li If the idea crosses over multiple categories, candidates are allowed to submit the same pitch to a maximum of two category; note that each pitch may only be selected once for the final round.
              li Presenter must be a UCLA student available to attend both the pitch workshop and the finale event.
          br
    // 
      MY SUBMISSIONS
      =======================================================================================            

  section#submissions-section  
  .grid.-85.prefix-5.mobile-grid-100.tablet-grid-100
    // .section-title My Submissions
    br        
    each video, i in user.videos
          .grid-50
            h2.section-subtitle.video-title=video.title
            embed(style="height:300px" width='400', src='http://www.youtube.com/v/' + video.id + '?controls=0', type='application/x-shockwave-flash' , frameborder='0',)                     
            br
            body=video.description
    
    // 
      LOGOUT BUTTON
      =======================================================================================    

  section#parallax-section-2.parallax-section.parallax-banner-2.parallax-background.parallax-section-2.ha-waypoint
    .parallax-overlay.parallax-overlay-2
    .grid-container.parallax-content


      .account-message
        h2.account-header.grid-100.section-subtitle(style='color:#ffffff') SUBMIT A PITCH
          form( action="/upload", method="POST", enctype="multipart/form-data")
           br
           ul.grid-50
             li
               input#name.name(type='text', name='title', placeholder='Pitch Title:')
             li
               input#email.email(type='text', name='major', placeholder='Major:')
             li
               input#phone.phone(type='text', name='year', placeholder='Graduation Year:')      
           ul.grid-50
             li
               textarea#message.message(name='description', placeholder='Pitch Description: ')

           h5.video-instructions Please upload files in .mov format and no greater than 100mb. 
           input(type="file", name="file")     
           br
           br 
           input(type="submit", value="Submit")
           br


      .grid-85.prefix-15.mobile-grid-100.tablet-grid-100(style='padding: 20px')

        span.btn-holder()
          if user.oauthID == '706352243'
            a.hero-btn(href="/auth/google" style="font-family: Roboto Condensed") Google Authentication        
            br
            br
          a.hero-btn(href="/logout") Logout   


else 
  // hero section 
  section.hero.ha-waypoint.parallax-section.parallax-banner-1.parallax-background()
    .parallax-overlay.parallax-overlay-1
    .grid-container
      // hero holder 
      .hero-holder.grid-70.mobile-grid-100.tablet-grid-100
        .hero-inner  
          span.login-header Login to submit a pitch or view your submitted pitches
          br
          br  		
          a.hero-btn(href='/auth/facebook') Login With Facebook

