
.user

if(user)
  // 
    Hero SECTION
    =======================================================================================
  section.account.ha-waypoint.parallax-section.parallax-banner-1.parallax-background(style="overflow:scroll")
    .parallax-overlay.parallax-overlay-1(style='z-index: -1')
    .grid-container
      
      // hero holder 
      .hero-holder.grid-70.mobile-grid-100.tablet-grid-100(style='padding-top:100px')
        .hero-inner
            h1.account-title=user.name
          .hero-title-holder
            span.hero-description User Account

  // 
    INSTRUCTIONS
    =======================================================================================

  section#instructions-section.rules
    a.toTop(href='#top')
      i.icon-angle-up
    .grid-container(style="padding: 15px 0px 30px 0px")

      // RULES header 
      .grid-85.mobile-grid-100.tablet-grid-100
        .section-title Instructions
        br
        br
        .account-box(style="color:#000000")
          p Record a video of yourself giving a 1-2 minute long business pitch and submit it using the form below. 
          | Enter the title, category and a short description of your pitch when uploading the video file. 
          | A good short pitch should cover the following areas:
          br
          br 
          | -What is the problem being addressed by the product/service? 
          br 
          | -What is the solution to this problem that the product/service provides? 
          br 
          | -What is the market for the product or service? 
          br
          br
          p You can review the rules for submission 
            a(href='/#rules-section') here.

    // 
      SUBMISSION FORM 
      =======================================================================================    

  section#parallax-section-3.parallax-section.parallax-banner-3.parallax-background.parallax-section-3.ha-waypoint
    .parallax-overlay.parallax-overlay-3
    .grid-container.parallax-content

      .account-message
        h2.account-header.grid-100.section-subtitle(style='color:#ffffff') SUBMIT A PITCH
          form( action="/upload", method="POST", enctype="multipart/form-data")
           br
           ul.grid-50(style='font-size:13pt')
             li
               input#name.name(type='text', name='title', placeholder='Pitch Title:')
             li
               input(type='radio', name='category', value='Technology') 
               | Technology     
             li
               input(type='radio', name='category', value='Non-Technology') 
               | Non-Technology 
             li
               input(type='radio', name='category', value='Social Entrepreneurship') 
               | Social Entrepreneurship                             
           ul.grid-50
             li
               textarea#message.message(name='description', placeholder='Pitch Description: ')

           h5.video-instructions Please upload files in .mov format and no greater than 100mb. 
           input(type="file", name="file")     
           br
           br 
           input(type="submit", value="Submit")
           br

    // 
      MY SUBMISSIONS
      =======================================================================================            

  section#submissions-section  
  .grid-container.grid.-85.prefix-5.mobile-grid-100.tablet-grid-100
    .section-title(style="color:#000000") My Pitches
    br        
    each video, i in user.videos
          .grid-33.mobile-grid-100.tablet-grid-100(style="padding: 15px 0px 30px 0px")
            h2.section-subtitle.video-title=video.title
            embed(style="height:250" width='350', src='http://www.youtube.com/v/' + video.id + '?controls=0', type='application/x-shockwave-flash' , frameborder='0',)                     
            br
            body(style="color:#000000") Category:      
              body(style="color:#999")=video.category
            br 
            body(style="color:#000000") Description: 
              body(style="color:#999")=video.description

    // 
      LOGOUT BUTTON
      =======================================================================================         

  section#parallax-section-2.parallax-section.parallax-banner-2.parallax-background.parallax-section-2.ha-waypoint
    .parallax-overlay.parallax-overlay-2
    .grid-container.parallax-content

      .grid-85.prefix-15.mobile-grid-100.tablet-grid-100(style='padding: 20px')

        span.btn-holder()
          if user.oauthID == '706352243'
            a.hero-btn(href="/auth/google" style="font-family: Roboto Condensed") Google Authentication        
            br
            br
          a.hero-btn(href="/logout") Logout   


else 
  // hero section 
  section.hero.ha-waypoint.parallax-section.parallax-banner-1.parallax-background()
    .parallax-overlay.parallax-overlay-1
    .grid-container
      // hero holder 
      .hero-holder.grid-70.mobile-grid-100.tablet-grid-100
        .hero-inner  
          span.login-header Login to submit a pitch or view your submitted pitches
          br
          br  		
          a.hero-btn(href='/auth/facebook') Login With Facebook

